# Ativa o uso de URL amigavel
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
Rewriterule ^(.*)$ index.php?url=$1

# Bloqueia a listagem de diretórios.
Options All -Indexes

# Mensagem de erro personalizada.
ErrorDocument 403 "Desculpe! acesso nao permitido!"
ErrorDocument 404 "Desculpe! Arquivo nao encontrado!"
ErrorDocument 500 "Falha no codigo!"

# Redireciona para o HTTPS independente do domínio
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]